//color
@import '../../../styles.scss';

.containerHeaderBg {
  background-color: $color_primary_dark;
  position: relative;
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
}
.containerHeader {
  background-color: $color_primary_dark;
  position: relative;
  width: calc(100% - 40px);
  max-width: 1300px;
  height: 50px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 400px 1fr;
  align-items: center;
  padding: 0 20px;
}

//ctLogo
//------>
.ctLogo {
  display: flex;
  text-align: center;
}
.ctLogo img {
  max-width: 115px;
  margin-right: 10px;
}


//ctInfoUser
//------>
.ctInfoUser {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.ctInfoUser img {
  max-width: 38px;
  border: 1px solid $color_success;
  margin-right: 10px;
  border-radius: 50%;
}
.ctInfoUser button {
  margin-right: 10px;
}


//ctModuls
//------>
.ctModuls {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  display: flex;
}
.ctModuls a {
  position: relative;
  display: grid;
  width: 100%;
  height: 50px;
  align-items: center;
  text-align: center;
  margin: 0;
  text-decoration: none;
  color:  $color_light;
  opacity: .7;
}
.ctModuls a:hover {
  cursor: pointer;
  //background-color: $color_secondary;
  color: $color_light;
  background-color: #776AFF30;
  opacity: .7;
}
.ctModuls a.act {
  color: $color_light;
  background-color: #776AFF30;
  opacity: 1;
}
.ctModuls a.act::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  background-color: $color_primary;
}