<div class="containerHeaderBg">

  <div class="containerHeader">
    <div class="ctLogo">
      <img src="../../../assets/img/logo.png" alt="">
    </div>
    <div class="ctModuls">
      <a
        routerLink="/app/transaction"
        routerLinkActive="act">
        {{ "headerTop.transactions" | transloco }}
      </a>
      <a
        routerLink="/app/setting"
        routerLinkActive="act">
        {{ "headerTop.setting" | transloco }}
      </a>
    </div>
    <div class="ctInfoUser">
      <app-select-language></app-select-language>
      <button
        mat-flat-button
        color="primary"
        (click)="authService.logout()">
        {{ "headerTop.signOff" | transloco }}
      </button>
      <!-- <img src="../../../assets/img/user.png" alt=""> -->
    </div>
    <div class="ctModuls ctModuls2">
      <a
        routerLink="/app/transaction"
        routerLinkActive="act">
        {{ "headerTop.transactions" | transloco }}
      </a>
    </div>
    <div class="ctModuls ctModuls2">
      <a
        routerLink="/app/setting"
        routerLinkActive="act">
        {{ "headerTop.setting" | transloco }}
      </a>
    </div>
  </div>

</div>