<div class="contentCategories">
  <div class="ctFormCategories">
    <h3>{{ "modulCategory.title" | transloco }}</h3>
    <form id="categoryForm" [formGroup]="categoryForm">

      <mat-form-field appearance="outline" [hidden]="true" style="display: none;">
        <input
          matInput
          formControlName="_id">
      </mat-form-field>
      
      <mat-form-field appearance="outline">
        <mat-label>
          {{ "form.icon" | transloco }}
        </mat-label>
        <mat-select
          formControlName="icon">
          <mat-select-trigger class="selectFormCategories">
            <i class="fa-light" [ngClass]="iconSelecTrigger" [ngStyle]="{'background-color': colorSelecTrigger}"></i>
          </mat-select-trigger>
          <mat-option
            class="selectFormCategories"
            *ngFor="let icon of json.icon"
            [value]="icon">
            <i class="fa-light" [ngClass]="icon" (click)="iconSelecTrigger = icon"></i>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="categoryForm.get('icon')?.errors?.['required']">
          {{ "errorForm.icon" | transloco }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>
          {{ "form.color" | transloco }}
        </mat-label>
        <mat-select
          formControlName="color">
          <mat-select-trigger class="selectFormCategories">
            <i [ngStyle]="{'background-color': colorSelecTrigger}">.</i>
          </mat-select-trigger>
          <mat-option
            class="selectFormCategories"
            *ngFor="let color of json.color"
            [value]="color">
            <i [ngStyle]="{'background-color': color}" (click)="colorSelecTrigger = color"></i>
          </mat-option>
        </mat-select>
        <mat-error *ngIf="categoryForm.get('color')?.errors?.['required']">
          {{ "errorForm.color" | transloco }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>
          {{ "form.name" | transloco }}
        </mat-label>
        <input
          matInput
          placeholder="Nombre cat..."
          formControlName="name">
          <mat-error *ngIf="categoryForm.get('name')?.errors?.['required']">
            {{ "errorForm.name" | transloco }}
          </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>
          {{ "modulTransactionTable.category" | transloco }}
        </mat-label>
        <mat-select
          formControlName="category">
          <mat-option value="0">
            {{ "modulTransaction.spent" | transloco }}
          </mat-option>
          <mat-option value="1">
            {{ "modulTransaction.entry" | transloco }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="categoryForm.get('category')?.errors?.['required']">
          {{ "errorForm.category" | transloco }}
        </mat-error>
      </mat-form-field>

    </form>
    <div class="ctBtnCategoryForm">
      <button
        mat-flat-button
        color="secondary"
        (click)="resetForm()">
        {{ "button.clear" | transloco }}
      </button>
      <button
        form="categoryForm"
        mat-flat-button
        color="primary"
        (click)="validateForm()">
        {{ "button.save" | transloco }}
      </button>
    </div>
  </div>
  <hr>
  <div class="ctListCategoriesEntry">
    <div
      cdkDropList
      (cdkDropListDropped)="drop($event)">
      <p>
        <b>
          {{ "modulCategory.titleEntry" | transloco }}
        </b>
      </p>
      <ngx-skeleton-loader
        *ngIf="contentLoaded; else titleEntryLoaded"
        appearance="circle"
        [theme]="{ width: '45px', height: '45px', 'margin': '0 5px 0 5px' }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        *ngIf="contentLoaded"
        [theme]="{ width: 'calc(100% - 115px)', height: '20px', 'margin-bottom': '13px' }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        *ngIf="contentLoaded"
        [theme]="{ width: '20px', height: '20px', 'margin': '0 5px 13px 5px'}"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        *ngIf="contentLoaded"
        [theme]="{ width: '20px', height: '20px', 'margin': '0 5px 13px 5px' }"
      ></ngx-skeleton-loader>
      <ng-template #titleEntryLoaded>
        <div
          *ngFor="let category of getListCategories"
          cdkDrag
          [cdkDragDisabled]="dragItem">
          <div
            class="ctItemCategory"
            *ngIf="category.category === '1'">
            <i
              class="fa-light iconCategory"
              [ngClass]="category.icon"
              [ngStyle]="{'background-color': category.color}">
            </i>
            <p>
              {{category.name}}
            </p>
            <button
              class="btn drag"
              color="warn"
              (mousedown)="dragItem = false"
              (mouseup)="dragItem = true"
              [matTooltip]="'tooltip.drag' | transloco"
              matTooltipPosition="above">
              <i class="fa-light fa-arrows-from-line"></i>
            </button>
            <button
              class="btn btn_info_table"
              color="warn"
              (click)="editCategory(category)"
              [matTooltip]="'tooltip.edit' | transloco"
              matTooltipPosition="above">
              <i class="fa-light fa-pen-to-square"></i>
            </button>
            <button
              class="btn btn_warn_table"
              color="warn"
              (click)="deleteCategory(category._id)"
              [matTooltip]="'tooltip.delete' | transloco"
              matTooltipPosition="above">
              <i class="fa-light fa-trash-can"></i>
            </button>
          </div>
        </div>
      </ng-template>
    </div>
    <div
      cdkDropList
      (cdkDropListDropped)="drop($event)">
      <p>
        <b>
          {{ "modulCategory.titleSpent" | transloco }}
        </b>
      </p>
      <ngx-skeleton-loader
        *ngIf="contentLoaded; else titleSpentLoaded"
        appearance="circle"
        [theme]="{ width: '45px', height: '45px', 'margin': '0 5px 0 5px' }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        *ngIf="contentLoaded"
        [theme]="{ width: 'calc(100% - 115px)', height: '20px', 'margin-bottom': '13px' }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        *ngIf="contentLoaded"
        [theme]="{ width: '20px', height: '20px', 'margin': '0 5px 13px 5px'}"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        *ngIf="contentLoaded"
        [theme]="{ width: '20px', height: '20px', 'margin': '0 5px 13px 5px' }"
      ></ngx-skeleton-loader>
      <ng-template #titleSpentLoaded>
        <div
          *ngFor="let category of getListCategories"
          cdkDrag
          [cdkDragDisabled]="dragItem">
          <div
            class="ctItemCategory"
            *ngIf="category.category === '0'">
            <i
              class="fa-light iconCategory"
              [ngClass]="category.icon"
              [ngStyle]="{'background-color': category.color}">
            </i>
            <p>
              {{category.name}}
            </p>
            <button
              class="btn drag"
              color="warn"
              (mousedown)="dragItem = false"
              (mouseup)="dragItem = true"
              [matTooltip]="'tooltip.drag' | transloco"
              matTooltipPosition="above">
              <i class="fa-light fa-arrows-from-line"></i>
            </button>
            <button
              class="btn btn_info_table"
              color="warn"
              (click)="editCategory(category)"
              [matTooltip]="'tooltip.edit' | transloco"
              matTooltipPosition="above">
              <i class="fa-light fa-pen-to-square"></i>
            </button>
            <button
              class="btn btn_warn_table"
              color="warn"
              (click)="deleteCategory(category._id)"
              [matTooltip]="'tooltip.delete' | transloco"
              matTooltipPosition="above">
              <i class="fa-light fa-trash-can"></i>
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>