<div class="contentCategories">
  <div class="ctFormCategories">
    <h3>{{ "modulLabel.title" | transloco }}</h3>
    <form id="labelForm">

      <mat-form-field appearance="outline">
        <mat-label>
          {{ "form.name" | transloco }}
        </mat-label>
        <input
          matInput
          placeholder="Nombre cat..."
          [formControl]="labelForm">
      </mat-form-field>

    </form>
    <div class="ctBtnCategoryForm">
      <button
        mat-flat-button
        color="secondary"
        (click)="resetForm()">
        {{ "button.clear" | transloco }}
      </button>
      <button
        form="categoryForm"
        mat-flat-button
        color="primary"
        (click)="validateForm()">
        {{ "button.save" | transloco }}
      </button>
    </div>
  </div>
  <hr>
  <div class="ctListCategoriesEntry">
    <div
      cdkDropList
      (cdkDropListDropped)="drop($event)">
      <p>
        <b>
          {{ "modulLabel.titleList" | transloco }}
        </b>
      </p>
      <ngx-skeleton-loader
        *ngIf="contentLoaded; else titleListLoaded"
        [theme]="{ width: 'calc(100% - 70px)', height: '20px', 'margin': '0 5px 18px 5px' }"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        *ngIf="contentLoaded"
        [theme]="{ width: '20px', height: '20px', 'margin': '0 5px 18px 5px'}"
      ></ngx-skeleton-loader>
      <ngx-skeleton-loader
        *ngIf="contentLoaded"
        [theme]="{ width: '20px', height: '20px', 'margin': '0 5px 18px 5px' }"
      ></ngx-skeleton-loader>
      <ng-template #titleListLoaded>
        <div *ngIf="getListLabels !== undefined">
          <div
            *ngFor="let label of getListLabels.labels"
            cdkDrag
            [cdkDragDisabled]="dragItem"
            class="ctItemCategory">
            <p>
              {{label}}
            </p>
            <button
              class="btn drag"
              color="warn"
              (mousedown)="dragItem = false"
              (mouseup)="dragItem = true"
              [matTooltip]="'tooltip.drag' | transloco"
              matTooltipPosition="above">
              <i class="fa-light fa-arrows-from-line"></i>
            </button>
            <button
              class="btn btn_warn_table"
              color="warn"
              (click)="deleteLabel(label)"
              [matTooltip]="'tooltip.delete' | transloco"
              matTooltipPosition="above">
              <i class="fa-light fa-trash-can"></i>
            </button>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>