<span class="topModal"></span>
<h1 mat-dialog-title>
  {{ "dialogTransaction.title" | transloco }}
</h1>
<div mat-dialog-content>
  <form [formGroup]="transactionForm" id="transactionForm">

    <!-- <mat-form-field appearance="outline"> -->
    <mat-form-field appearance="outline" [hidden]="true" style="display: none;">
      <input
        matInput
        formControlName="_id">
    </mat-form-field>

    <div class="contGpInput">
      <mat-form-field appearance="outline">
        <mat-label>
          {{ "modulTransactionTable.category" | transloco }}
        </mat-label>
        <mat-select
          cdkFocusInitial
          formControlName="categoryOpc">
          <mat-select-trigger class="selectFormCategories">
            <i
              class="fa-light"
              style="top: 0;"
              [ngClass]="iconSelecTrigger"
              [ngStyle]="{'background-color': colorSelecTrigger}">
            </i>
            {{textSelecTrigger}}
          </mat-select-trigger>
          <button
            class="btnCategory"
            (click)="category = '0'"
            [ngClass]="{'act': category === '0'}">
            {{ "modulTransaction.spent" | transloco }}
          </button>
          <button
            class="btnCategory"
            (click)="category = '1'" 
            [ngClass]="{'act': category === '1'}">
            {{ "modulTransaction.entry" | transloco }}
          </button>
          <div *ngIf="category === '0'">
            <div *ngFor="let listSpent of getListCategories">
              <mat-option
                *ngIf="listSpent.category === '0'"
                (click)="iconSelecTrigger = listSpent.icon; colorSelecTrigger = listSpent.color; textSelecTrigger = listSpent.name;"
                [value]="listSpent.name">
                <i class="fa-light" [ngClass]="listSpent.icon" [ngStyle]="{'background-color': listSpent.color}"></i>
                {{listSpent.name}}
              </mat-option>
            </div>
          </div>
          <div *ngIf="category === '1'">
            <div *ngFor="let listEntry of getListCategories">
              <mat-option
                *ngIf="listEntry.category === '1'"
                (click)="iconSelecTrigger = listEntry.icon; colorSelecTrigger = listEntry.color; textSelecTrigger = listEntry.name;"
                [value]="listEntry.name">
                <i class="fa-light" [ngClass]="listEntry.icon" [ngStyle]="{'background-color': listEntry.color}"></i>
                {{listEntry.name}}
              </mat-option>
            </div>
          </div>
          <hr>
          <p
            class="hyperlink"
            routerLink="/app/setting/categories"
            routerLinkActive="act"
            (click)="closeModal()">
            {{ "modulTransaction.newCategory" | transloco }}
          </p>
        </mat-select>
        <mat-error *ngIf="transactionForm.get('categoryOpc')?.errors?.['required']">
          {{ "errorForm.category" | transloco }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>MM/DD/YYYY</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="date"
          placeholder="MM/DD/YYYY">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="transactionForm.get('date')?.errors?.['required']">
          {{ "errorForm.date" | transloco }}
        </mat-error>
        <mat-error *ngIf="transactionForm.get('date')?.errors?.['date']">
          {{ "errorForm.date" | transloco }}
        </mat-error>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline">
      <mat-label>
        {{ "modulTransactionTable.notes" | transloco }}
      </mat-label>
      <textarea 
        matInput
        formControlName="notes"
        [placeholder]="'modulTransactionTable.notes' | transloco">
      </textarea>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>
        {{ "modulTransactionTable.label" | transloco }}
      </mat-label>
      <mat-select
        formControlName="labels"
        multiple>
        <mat-option
          *ngFor="let toppingsLabels of toppingListLabels"
          [value]="toppingsLabels">
          {{toppingsLabels}}
        </mat-option>
        <hr>
        <p
          class="hyperlink"
          routerLink="/app/setting/labels"
          routerLinkActive="act"
          (click)="closeModal()">
          {{ "modulTransaction.newLabel" | transloco }}
        </p>
      </mat-select>
    </mat-form-field>

    <div class="contGpInput">
      <mat-form-field appearance="outline">
        <mat-label>
          {{ "modulTransactionTable.amount" | transloco }}
        </mat-label>
        <input
          matInput
          type="number"
          formControlName="amoint"
          class="example-right-align"
          placeholder="0">
        <span matPrefix>$&nbsp;</span>
        <span matSuffix>.00</span>
        <mat-error *ngIf="transactionForm.get('amoint')?.errors?.['required']">
          {{ "errorForm.amount" | transloco }}
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>
          {{ "modulTransactionTable.coin" | transloco }}
        </mat-label>
        <mat-select
          formControlName="coin"
          [(value)]="coins[0].viewValue">
          <mat-option
            *ngFor="let coin of coins"
            [value]="coin.viewValue">
            {{coin.viewValue}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="transactionForm.get('coin')?.errors?.['required']">
          {{ "errorForm.coin" | transloco }}
        </mat-error>
      </mat-form-field>
    </div>

    <!-- <div>
      <input
        type="file"
        formControlName="img"
        (change)="onFileSelect($event)">
      <div *ngIf="imageData">
        <img [src]="imageData" [alt]="">
      </div>
    </div> -->

  </form>
</div>
<div mat-dialog-actions style="float: right;">
  <div>
    <button
      mat-flat-button
      (click)="closeModal()">
      {{ "button.close" | transloco }}
    </button>
    <button
      mat-flat-button
      form="transactionForm"
      color="primary"
      (click)="addTransaction()">
      {{ "button.save" | transloco }}
    </button>
  </div>
</div>
