@import '../../../styles.scss';

// positio of the dialog
//------>
::ng-deep.mat-dialog-container {
  position: relative;
}

//opcion dialog
//------>
.mat-dialog-title {
  text-align: center;
}
.mat-form-field {
  width: 100%;
}
.mat-dialog-content {
  text-align: center;
}
.mat-dialog-title i {
  font-size: 3rem;
}
.mat-dialog-actions {
  justify-content: flex-end;
}
.topModal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 7px;
}